.wrapper {
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
.auth .card-header {
    background-color: #f2f2f2;
    color: #4d4d4d;
}
.auth .card-body {
    background-color: #f2f2f2;
}
.auth .card-footer {
    background-color:  #f2f2f2;
    color: #4d4d4d;
}
.auth a {
    color: #4d4d4d;
}
.custom-btn {
    background-color: #021024;
    color: white;
    border: none;

}
.custom-btn:hover {
    background-color: #C1E8FF;
    transition: .2s ease-in;
    color: black;
}
.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}

.btn-circle.btn-md {
    width: 55px;
    height: 46px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 11px;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}
.user-avatar {
    max-height: 50px;
    max-width: 50px;
    display: block;
}